{{#loggedIn}}
  <p>Hi, {{username}}. <a href="#" class="logout">Log out</a></p>
{{/loggedIn}}
{{^loggedIn}}
  <form class="row">
    <div class="three columns">
      <input class="u-full-width" type="text" placeholder="Username">
    </div>
    <div class="three columns">
      <input class="u-full-width" type="password" placeholder="Password">
    </div>
    <div class="six columns">
      <input class="button-primary" type="submit" value="Log In">
    </div>
  </form>
{{/loggedIn}}
{{#authFailed}}
  <p class="error">Authentication failed.</p>
{{/authFailed}}
