<h3>Register</h3>
<form>
  <div class="row">
    <div class="three columns">
      <input class="u-full-width" type="text" placeholder="Username">
    </div>
    <div class="three columns">
      <input class="u-full-width" type="password" placeholder="Password">
    </div>
    <div class="three columns">
      <textarea class="u-full-width" placeholder="Bio (optional)"></textarea>
    </div>
    <div class="three columns">
      <input class="button-primary u-full-width" type="submit" value="Register">
    </div>
  </div>
</form>
