@import "lib/_skeleton";

.hide {
  display: none;
}

.container {
  margin-top: 30px;
}

.user-details {
  .error {
    color: red;
  }
}

.content {
  .thread-item {
    .children {
      margin-left: 5%;
    }
  }
  .index-item {
    font-size: 3rem;
    .item-info {
      font-size: 1.5rem;
    }
  }
}
