extends layout

block header
  header(id="userDetails")
    if loggedIn
      p Hi, #{username}. #[a(href="#", class="logout") Log out]
    else
      p #[a(href="#", class="login") Log in]

block content
  article(class="content")

block js
  script(src="/js/dist/main.js")
